@font-face {
  font-family: "Roboto";
  src: local("Roboto"), 
       local("Roboto-Regular"), 
       url("/assets/fonts/roboto-regular.woff2") format("woff2");
}

body {
    font-size: 18px;
    color: #333;
    font-family:'Courier New', Courier, monospace;
  }
  
  h1 {
    font-size: 50px
  }
  
  h2 {
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  section {
    margin-top: 50px;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  section li{
    margin-left: 20px;
    list-style: none;
  }

  section h2{
    margin-left: 20px;
  }
  .me {
    text-align: center;
  }
  
  .me h2{
    opacity: 70%;
  }
  
  .me h1{
    text-align: center;
  } 

  .study{
    height: 150px;
    display: table-cell;
    position: absolute;
    margin-left: 50%;
    background: #e5effc;
    width: 50%;
  }
  
  .skills{
    background: #bde3fb;
    width: 50%;
    height: 400px;
    display: table-cell;
    position: absolute;
    margin-right: 50%;
    margin-top: 200px;
  }

  .other{
    background: #e5effc;
    width: 50%;
    display: table-cell;
    position: absolute;
    margin-left: 50%;
    margin-top: 600px;
  }
  
  section h1 {
    padding: 0;
    text-align: left;
    border: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    background-image: linear-gradient(to right, #352384, #e90b8b);
    background-repeat: no-repeat;
    background-size: 0px 2px;
    background-position: left bottom;
    padding-bottom: 2px;
    transition: 0.3s;
  }
  
  a:hover{
    background-size: 100% 2px;
  }
